matplotlib==3.10.3
numpy==2.3.0
onnx==1.16.2
openai==1.86.0
pandas==2.3.0
psutil==6.1.0
PyQt6==6.9.1
pyqt6_sip==13.10.2
Requests==2.32.4
scikit_learn==1.7.0
torch==2.7.1
transformers==4.52.4
